<div class="log-in-page" style="background: url(../assets/images/bg_admin.jpg)">
  <div class="login-block">
    <div class="admin-logo"><img src="assets/images/logo-sarthi.png"></div>
    <div class="input-block">
      <input class="form-control" type="email" placeholder="User Name">
      <span class="cust-iocn">
        <i class="fa fa-user"></i>
      </span>
    </div>
    <div class="input-block">
      <input class="form-control" type="password" placeholder="User Password">
      <span class="cust-iocn">
        <i class="fa fa-lock"></i>
      </span>
    </div>
    <div class="input-block">
      <button class="log-btn" (click)="login()">log in</button>
    </div>
  </div>
</div>