<div class="main-wrapper layout-fill layout-column sideNavContent">
    <div class="loader" *ngIf="tractorBrands.length <= 0">
        <div class="loader-img"><img src="assets/images/logo-sarthi.png"></div>
      </div>
  <div class="header flex">
    <div class="outer clearfix">
      <div class="pull-left ct-navbar-brand">
        <div class="brand-logo">
          <img src="assets/images/logo-sarthi.png">
        </div>
      </div>
      <div class="mobile-menu-toggle pull-right">
        <a href="javascript:void(0)">
          <span></span>
        </a>
      </div>
      <div class="pull-right ct-navbar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="javascript:void(0)" class="Registered-user">Registered User
              <span>{{mahindraUsers}}</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="logout">
              Log Out
            </a>
          </li>
          <!--<li class="dropdown">
                  <a href="javascript:void(0)" class="dropdown-toggle" id="profileDp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">log out</a>
                  <ul class="dropdown-menu" aria-labelledby="profileDp">
                    <li><a href="#">My Profile</a></li>
                    <li><a href="#">Switch Device</a></li>
                  </ul>
                </li>-->
        </ul>
      </div>

    </div>
  </div>
  <!-- HEADER END -->

  <!-- MAIN CONTENT START -->
  <div class="main-content bg-content  primary-color flex layout-fill">
    <div class="layout-fill layout-column">
      <div class="title-header">
        <h3 class="flex-grow">Saarthi Dashboard</h3>
        <div class="filter-dp">
          <select class="form-control">
            <option>Filter</option>
            <option>Filter by Region</option>
            <option>Filter by Crop</option>
            <option>Filter by Time & Duration</option>
          </select>
        </div>
        <div class="toggle-switch">
          <ul>
            <li [ngClass]="{'active': togglevalue === false}">
              <i class="fa fa-th-large" (click)="toggleView($event)"></i>
            </li>
            <li [ngClass]="{'active': togglevalue === true}">
              <i class="fa fa-globe" (click)="toggleView($event)"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="inner-content flex layout-fill">
        <div class="inner-wrapper">
          <div class="vertical-content">
            <div class="stat-block">
              <div class="row">
                <div class="col-md-3">
                  <div class="key-features clearfix" *ngIf="nonMahindraUsers !== ''">
                    <ul>
                      <li (click)="listClick($event, item)" [ngClass]="{'active': selectedItem == item}" *ngFor="let item of groups">
                        <!-- <div class="key-item" *ngIf="mahindraUsers!== ''">
                          <div class="key-hed">M & M app usres</div>
                          <div class="key-count">{{mahindraUsers}}</div>
                        </div> -->
                        <div class="key-item">
                          <div class="key-hed">{{item.name}}</div>
                          <div class="key-count">{{item.value}}</div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="grid-data">
                    <iframe *ngIf="selectedItem && (selectedItem.name === 'M & M App Users') && togglevalue" width="1000" height="315" src="https://www.knowi.com/w/ycW9KuJ5PQNn70oEHmVwlvzcAZ8FEEu78w6oYe2D7ZUie" frameborder="0" allowfullscreen></iframe>
                    <iframe *ngIf="selectedItem && (selectedItem.name === 'M & M App Users') && !togglevalue" width="1000" height="315" src="https://www.knowi.com/w/htrOg7qmrRYjmxYQrUups2IfPVYFns3ILe6XFpNWYygie" frameborder="0" allowfullscreen></iframe>
                    <iframe *ngIf="selectedItem && (selectedItem.name === 'Non M & M') && togglevalue" width="560" height="315" src="https://www.knowi.com/w/Jlorpy3ffNfbc1bp0HQu1KisqjcJB7jgoEqzU2VQxaMYie" frameborder="0" allowfullscreen></iframe>
                    <iframe *ngIf="selectedItem && (selectedItem.name === 'Non M & M') && !togglevalue" width="560" height="315" src="https://www.knowi.com/w/UlI1iir9EFuiiyWPiiz72iiuh1CMUlssX3Z0smcVO5tNvsIie" frameborder="0" allowfullscreen></iframe>
                    <iframe *ngIf="selectedItem && (selectedItem.name === 'No Tractors') && togglevalue" width="560" height="315" src="https://www.knowi.com/w/KKtLqqffKBuU6XKQYZS3XO5kDgM5zy3qcaUZipXR0iiDcie" frameborder="0" allowfullscreen></iframe>
                    <iframe *ngIf="selectedItem && (selectedItem.name === 'No Tractors') && !togglevalue" width="560" height="315" src="https://www.knowi.com/w/1CII4YM18LH503LRvqYtPjLwwkf4HNsZisWq1oCiie4hwie" frameborder="0" allowfullscreen></iframe>
                    <iframe *ngIf="selectedItem && (selectedItem.name === 'Frequently leasing member') && togglevalue" width="560" height="315" src="https://www.knowi.com/w/gisobs8TMipwFiilXKAwGuMii3GKxxisqIxii537DJJWfdlIoie" frameborder="0" allowfullscreen></iframe>
                    <iframe *ngIf="selectedItem && (selectedItem.name === 'Frequently leasing member') && !togglevalue" width="560" height="315" src="https://www.knowi.com/w/7DlogmFOC9lPSDkkattkL1CtY7VDMExGfPL2FlVOI1kie" frameborder="0" allowfullscreen></iframe>
                    <!-- <agm-map style="height: 355px" [latitude]="18.5281382" [longitude]="73.8825513">
                      <agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
                      <agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude">
                        <agm-info-window>

                          <div>
                            <a (click)="onClickInfoView({id:m.id})">{{marker.toolTip.growthIndex}}</a>
                            <br>
                            <a (click)="onClickInfoView({id:m.id})">{{marker.toolTip.userWithoutTractors}}</a>
                          </div>

                        </agm-info-window>
                      </agm-marker>
                      </agm-marker-cluster>
                    </agm-map> -->
                    <!-- <div *ngIf="togglevalue"></div>
                    <app-grid-application></app-grid-application>
                  </div> -->

                </div>
              </div>
            </div>
            <div class="charts-block">
              <div class="row">
                <div class="col-md-6">
                  <div class="ct-panel">
                    <h4 class="sub-title">
                      <span>Registered Users</span>
                    </h4>
                    <div class="graph-content">
                      <iframe height="315" src="https://www.knowi.com/w/MK0QMBlgzXnMTWFRvFnZp1Vt9DdQ6ipXrUZ9ugOt0pLoie" frameborder="0"
                        allowfullscreen></iframe>

                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="ct-panel">
                    <h4 class="sub-title">
                      <span>FAAS</span>
                    </h4>
                    <div class="graph-content">
                      <iframe height="315" src="https://www.knowi.com/w/urEtqzfhii29MhCV8UhA2ZrDEF1NymipnisiicP7Ee0zRe0ie" frameborder="0"
                        allowfullscreen></iframe>

                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="ct-panel">
                      <h4 class="sub-title">
                        <span>Third Party Data Type</span>
        
                      </h4>
                      <div class="dropdown">
                          <a href="javascript:void(0)" class="dropdown-toggle" id="profileDp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Rainfall</a>
                          <ul class="dropdown-menu" aria-labelledby="profileDp">
                    
                            <li><a >Mandi Prices</a></li>
                            <li><a >MNEREGA Wages</a></li>
                            <li><a >Reservoir Level</a></li>
                            <li><a >Road Construction Under PMGSY</a></li>
                            <li><a >Irrigation Potential Under PMGSY</a></li>
                            <li><a >Rural Deposit</a></li>
                            <li><a >Crop Sowing</a></li>
                            <li><a >Tractor Sales by Competition</a></li>
                            <li><a >Geo Spatial Data</a></li>
                          </ul>
                        </div>
                        <div class="graph-content">
                            <iframe  height="315" src="https://www.knowi.com/w/tWUWwMOe4bD3QoTCFxLTJLynHZqfD25WMHxAOipdCEDUie" frameborder="0"
                              allowfullscreen></iframe>
      
                          </div>
                    </div>
                  </div>
                <div class="col-md-6">
                    <div class="ct-panel">
                      <h4 class="sub-title">
                        <span>Growth Opportunity</span>
                      </h4>
                      <div class="graph-content">
                        <iframe height="315" src="https://www.knowi.com/w/y59cSU5wZp0aH8cI2uEh01eYiiJlBhIDwYWbGjU9TFrMie" frameborder="0"
                          allowfullscreen></iframe>
  
                      </div>
                    </div>
                  </div>

              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MAIN CONTENT END -->

</div>

<!-- JS START -->
<!--<div class="container">
    <router-outlet></router-outlet>
  </div>-->